POSTGRES_DB=deadlock_patchnotes
POSTGRES_USER=deadlock
POSTGRES_PASSWORD=replace-with-strong-password
WEB_PORT=3000
PATCH_FORUM_URL=https://forums.playdeadlock.com/forums/changelog.10/
PATCH_SYNC_MAX_PAGES=20
PATCH_SYNC_TIMEOUT_SECONDS=30
